@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
}

/* .active {
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
  color: #333;
  overflow: hidden;
} */

.logo-link.active {
  background-color: transparent !important;
}

.p-sidebar .p-sidebar-content {
  padding: 0 !important;
}
.p-paginator-bottom.p-paginator.p-component {
  border: 1px solid #ddd;
  margin-top: 20px;
}

button.p-paginator-page.p-paginator-element.p-link.p-paginator-page-start.p-highlight {
  background: #ecfeff;
}

.p-dropdown.p-component.p-inputwrapper.p-inputwrapper-filled {
  border: 1px solid #ddd;
}

/* Define the backdrop animation */
@keyframes backdropFadeIn {
  0% {
    opacity: 0;
    pointer-events: none; /* Prevent interaction during fade-in */
  }
  100% {
    opacity: 1;
    pointer-events: auto; /* Enable interaction once fully visible */
  }
}

@keyframes backdropFadeOut {
  0% {
    opacity: 1;
    pointer-events: auto; /* Keep interactions during fade-out */
  }
  100% {
    opacity: 0;
    pointer-events: none; /* Disable interaction once it's fully invisible */
  }
}

.backdrop-enter {
  animation: backdropFadeIn 0.3s ease-out forwards;
}

.backdrop-exit {
  animation: backdropFadeOut 0.3s ease-in forwards;
}

.modal-content {
  z-index: 50; /* Modal on top of the backdrop */
}

.hs-select.relative.active {
  background: none;
  padding: 0;
}

.table-body tr td {
  font-size: 12px;
}
